.inputclass{
    width: 30%;
    height: 50px;
    margin: auto;
    padding: 10px;
   
}
.todoinput{
    width: 70%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    border: 1px solid rgb(131,148,118);
    background-color: rgb(131,148,118);
    color:white;
}
.todobtn{
    width: 20%;
    height: 105%;
    font-size: 20px;
    background-color:rgb(131,148,118);
    color: white;
    border: none
}