.App {
  text-align: center;
}

.green{
  color: green;
}
.red{
  color:red;
}
button{
   margin: 10px;
   padding: 10px;
   width: 100px;
   color:white;
   background-color: black;
   border-radius: 10px;
   border: none;
}